/**
 * @name Resizable Sidebars
 * @description Allows resizing the channel/DM list, search results, and server member list
 * @author Qb
 * @version 1.0.0
 * @authorLink https://github.com/QbDesu
 * @authorId 133659541198864384
 * @source https://github.com/QbDesu/BetterDiscordAddons/ResizableSidebars/
 * @updateUrl https://raw.githubusercontent.com/QbDesu/BetterDiscordAddons/potato/Themes/ResizableSidebars/ResizableSidebars.theme.css
 * @invite gj7JFa6mF8
 */

:root {
    --sidebar-initial-width: 240px;
    --memberlist-initial-width: 240px;
    --searchresults-initial-width: 418px;
}

/* Channels/DMs List */

.sidebar-2K8pFh {
    resize: horizontal;
    width: var(--sidebar-initial-width);
}

.sidebar-2K8pFh .channel-2QD9_O {
    max-width: unset;
}

.bannerImage-3KhIJ6 {
    width: 100%;
}

/* Server Members */

.membersWrap-2h-GB4 {
    min-width: 8px;
}

.membersWrap-2h-GB4 .members-1998pB {
    resize: horizontal;
    direction: rtl;
    width: var(--memberlist-initial-width);
}

.membersWrap-2h-GB4 .members-1998pB > * {
    direction: ltr;
}

.membersWrap-2h-GB4 .members-1998pB .content-3YMskv {
    margin-left: -8px;
}

.membersWrap-2h-GB4 .members-1998pB .content-3YMskv .member-3-YXUe {
    max-width: unset;
}

/* Search Results */

.searchResultsWrap-3-pOjs {
    width: var(--searchresults-initial-width);
    resize: horizontal;
    direction: rtl;
}
.searchResultsWrap-3-pOjs > * {
    direction: ltr;
}